
.container {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100vh;
    position: relative;
    /* background: url("https://www.shutterstock.com/shutterstock/photos/2201631153/display_1500/stock-photo-question-mark-design-with-copy-space-on-white-background-2201631153.jpg") */
      /* no-repeat center center/cover; */
      
    display: flex;
    justify-content: center;
    align-items: center;
}

.container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Ffree-vector%2Fquestion-bank&psig=AOvVaw1PPhHKBDpeKKU42FSlIr_n&ust=1715074168137000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCOimzrvb-IUDFQAAAAAdAAAAABAh');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.login-container {
    z-index: 1;
    background-color:rgb(161 164 166);
    width: 25vw;
    min-width: 400px;
    min-height: 390px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container > h1{
    font-family: 'Karla';
    font-size: 42px;
    color: #a25920;
    line-height: 50px;
}

.form-login {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}


label {
    font-family: 'Karla';
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.1em;
    color: white;
    cursor: text;
    text-transform: uppercase;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(225, 190, 190);
    width: 100%;
    height: 18px;
}

input:focus {
    outline: none; /* Remove a borda de foco */
  }

.forgot-password{
    align-self: flex-end;
    font-size: 16px;
    border-bottom: 1.5px solid #e39c45;
    text-decoration: none;
    color: #e2850d;
}

.text--create-account {
    color: white;
    font-family: 'Karla';
}

.create-account>a,
button {
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff;
    border: 2px solid #dd8821;
    text-decoration: none;
    padding: 8px 50px;
    margin: 10px 0;
    border-radius: 50px;
    background-color: #052b45;
    cursor: pointer;
}
/* 
.btn-login{
    background-color: #666461;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px;
} */