/* .footer{
    background-color: rgb(163, 179, 203);
    padding: 10px 0px 10px 0px;
    width: 100%;
    margin-top: 50px;
    position: relative;
    text-align: center;
    clear: both;
    height: 50px;
    margin-top: 390px;
}

.container{
    clear: both;
    position: relative;
    height: 400%;
    margin-top: 600px;
} */